table, td , th, caption{ border:1px solid; border-collapse: collapse }

fieldset, table, div{ margin: 30px auto; width: 500px }

h3{ text-align: center }

fieldset, div{width: 200px;}

div{background-color: khaki}